:root{
    --primary_heading_color: #3E0377;
    --secondary_heading_color: #C60AFF;
    --primary_body_color: #1149A6;
    --secondary_body_color: #37D6FD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img_source/background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.home, .my_projects, .my_skills, .contact_me{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-rows: 50vh;
    grid-auto-columns: 50%;
}
h1{
    color: var(--primary_heading_color);
    font-size: 48px;
    
}
.about_me{
    color: var(--primary_body_color);
    font-size: 20px;
}
.grid_item1{
    place-self: center;

}
.grid_item2{
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
}